.choice-square-disabled {
    pointer-events: none;
    opacity: 0.5;
}

.choice-square-alert {
    color: #eb6d6d !important;
    background-color: #ffd1d1 !important;
}

.choice-square-draft {
    color: #7f858e !important;
}

.choice-square-ontouch {
    background: #e1e7f2 !important;
}

.choice-square {
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    font-size: min(500px/9*0.8, 100vw/9*0.8);
    background: #ebeef3;
    color: #2c71db;
    border-radius: 5px;
    border: 0;
    margin: 2px;
    padding: 0;
    text-align: center;
    user-select: none;
    width: 100%;
    height: 100%;
}