.game-board {
    margin: auto;
    width: fit-content;
    height: fit-content;
    text-align: center;
}

.nine-square {
    border-style: solid;
    border-width: 1px;
    border-color: #444444;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.choice-pad {
    margin: auto;
    width: fit-content;
    height: fit-content;
    text-align: center;
}