.sudoku-square {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    font-size: min(500px/9*0.8, 100vw/9*0.8);
    border: 1px solid #bdc4d2;
    padding: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    color: #2c71db;
}

.sudoku-square-puzzle {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    font-size: min(500px/9*0.8, 100vw/9*0.8);
    border: 1px solid #bdc4d2;
    aspect-ratio: 1 / 1;
    padding: 0;
    width: auto;
    height: auto;
    user-select: none;
    color: #224272;
}

.error-square {
    color: #eb6d6d !important;
    background-color: #ffd1d1 !important;
}

.draft-square {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7f858e !important;
    font-size: min(500px/27*0.8, 100vw/27*0.8);
    margin: auto;
    text-align: center;
    aspect-ratio: 1 / 1;
    width: calc(100%/3);
    height: 100%;
}

.draft-square-affected {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5488d6 !important;
    font-size: min(500px/27*0.8, 100vw/27*0.8);
    margin: auto;
    aspect-ratio: 1 / 1;
    text-align: center;
    font-weight: bold;
}

.normal-square {
    background: #ffffff;
}

.affected-square {
    background: #e3ebf2;
}

.same-value-square {
    background: #c1ddf8;
}

.selected-square {
    background: #c1ddf8;
}
